* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Goldman", cursive;
  background-color: cadetblue;
}

body header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header h1 {
  margin-top: 2rem;
  font-family: "Oswald", sans-serif;
}

body header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  width: 100%;
}

body header div hr {
  width: 90%;
}

body header div nav {
  margin-top: 0.8rem;
  width: 80%;
}

body header div nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header div nav ul li {
  list-style: none;
}

body header div nav ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body header div nav ul li a:hover {
  border-bottom: 1px solid black;
  opacity: 0.6;
}

body header img {
  margin-top: 2rem;
  width: 90%;
  height: 29rem;
}

body main {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .main-div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .main-div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 32%;
}

body main .main-div div img {
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 22rem;
}

body main .second-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  width: 100%;
  margin-bottom: 10rem;
}

body main .second-div hr {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 90%;
}

body main .second-div .part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .second-div .part div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
}

body main .second-div .part div a {
  color: black;
}

body main .second-div .part div a:hover {
  opacity: 0.7;
}

body main .second-div .part div .policy {
  margin-left: 3rem;
}
/*# sourceMappingURL=style.css.map */